 
<form (ngSubmit)="savedata(detailsdata)" #detailsform="ngForm">
    <div class="container jumbotron" style="width: 500px;">
 
        <div>
            <label for="actor">Actor Name</label>
            <input type="text" name="actor" id="actor" [(ngModel)]="detailsdata.actor" #actor="ngModel"
                class="form-control">
        </div>
 
        <div>
            <label for="movieid">Movie Id</label>
            <select id="movieid" name="movieid" [(ngModel)]="detailsdata.movieid" class="form-control">
                <option *ngFor="let sd of showdata" [value]="sd.id">
                    {{sd.name}}
                </option>
            </select>
        </div>
 
        <div>
            <label for="gender">Gender</label>
            <input type="text" name="gender" id="gender" [(ngModel)]="detailsdata.gender" #gender="ngModel"
                class="form-control">
        </div>
 
        <div>
            <label for="role">select Role</label>
            <select id="role" name="role" [(ngModel)]="detailsdata.role" class="form-control">
                <option value="Hero">Hero</option>
                <option value="Heroin">Heroin</option>
                <option value="villan">villan</option>
                <option value="Comedian">Comedian</option>
            </select>
        </div>
        <br><br>
        <p>
            <input type="submit" value="save" class="btn btn-success" [disabled]="!detailsform.valid">
        </p>
    </div>
</form>

